---
interface Props {
  text: string;
  icon?: string;
}
const { text, icon } = Astro.props;
---
<div class="outline-tag">
  {icon && <img src={icon} alt="" class="w-[12px] h-[12px] shrink-0" />}
  <span class="font-roboto font-medium text-[12px] text-white whitespace-nowrap">{text}</span>
</div>
